<!DOCTYPE html>
<html>
	<head>
		<title>
			Sid's Blog
		</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
			integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
			integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui menu fixed">
			<div class="ui container">
				<div class="header item">
					<i class="rss icon"></i> Sid's Blog
				</div>
				<a class="item" href="/">
					Home
				</a>
				<a class="item" href="/blogs/new">
					New Post
				</a>
			</div>
		</div>
		<div class="ui container main">
			
		